# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wyl_study\wyl_study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
